<div class="x">
	    <div class="bs-component">
          <div id="brand-navbar" class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a id="brand-name" class="navbar-brand" href="javascript:void(0)">苏迪迪汽车团购平台</a>
              </div>
              <div class="navbar-collapse collapse navbar-responsive-collapse">
<!--                 <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control col-md-8" placeholder="Search">
                  </div>
                </form> -->
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="javascript:void(0)">公司首页</a></li>
                  <li><a href="#">公司介绍</a></li>
                  <li><a href="#">关于团购</a></li>
                  <li><a href="#">团购报名</a></li>
                  <li><a href="#">车友会</a></li>
                  <li><a href="#">站务公告</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
</div>

<div class="x">
	
	<div id="brandCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#brandCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#brandCarousel" data-slide-to="1"></li>
    <li data-target="#brandCarousel" data-slide-to="2"></li>
    <li data-target="#brandCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image('a.jpg', alt: '图片1', id: 'ara', class: 'image') %>
      <!-- <img src="img_chania.jpg" alt="Chania"> -->
    </div>

    <div class="item">
      <%= image('b.jpg', alt:'图片2', id: 'arb', class: 'image') %>
      <!-- <img src="img_chania2.jpg" alt="Chania"> -->
    </div>

    <div class="item">
      <%= image('c.jpg', alt:'图片3', id: 'arc', class: 'image') %>
      <!-- <img src="img_flower.jpg" alt="Flower"> -->
    </div>

    <div class="item">
      <%= image('d.jpg', alt:'图片4', id: 'ard', class: 'image') %>
      <!-- <img src="img_flower2.jpg" alt="Flower"> -->
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#brandCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#brandCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
<div class="x">
	<div id="features" class="container">

	<div class="row text-center">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>底价承诺</h2>
          <p>开团前，团长会在本地区众多4S店之间逐一询价合作，保证价格竞争力</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>省时省心</h2>
          <p>开团前，团长会在本地区众多4S店之间逐一询价合作，保证价格竞争力</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


	<div class="row text-center">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>底价承诺</h2>
          <p>开团前，团长会在本地区众多4S店之间逐一询价合作，保证价格竞争力</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>省时省心</h2>
          <p>开团前，团长会在本地区众多4S店之间逐一询价合作，保证价格竞争力</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      </div>
</div>
<div class="x"></div>