#brand-navbar {
	margin-bottom: 0px;
}

#brand-name {
	margin-left: 3rem;
}

#features {
	padding: 4rem 6rem;
}

#footer {
	padding: 2rem;
	margin: 0px;
}

.color-brand {
	color: #009688;
}

.color-success {
	color: #4caf50;
}

.color-warning {
	color: #ff5722;
}

.color-red-lighten-1 {
	color: #ef5350;
}

.color-indigo-darken-3 {
	color: #283593;
}

.background-color-brand {
	background-color: #009688;
}

.background-color-success {
	background-color: #4caf50;
}

.background-color-warning {
	background-color: #ff5722;
}

.background-color-red-lighten-1 {
	background-color: #ef5350;
}

.background-color-indigo-darken-3 {
	background-color: #283593;
}

.top-buffer {
	padding-top: 30px;
}

.bottom-buffer {
	padding-bottom: 30px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.width-padding {
	padding-left: 20%;
	padding-right: 20%;
}

.color-white {
	color: white;
}

.width-full {
	width: 100%;
}

.icon-container {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    text-align: center;
    line-height: 140px;
    font-size: 5em;
    display: inline-block;
    width: 140px;
    height: 140px;
    /*color: white;*/
}